<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="~/css/style.css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASP.NET Core MVC</title>
</head>
<body>
    <h1>Merhaba, MVC Dünyası!</h1>
</body>
</html>
